<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
    <h1>Report Date: <%= foundReport.date %></h1>
    <h2>Report Health: <%= foundReport.health %></h2>
    <h3>Report ID: <%= foundReport.id%></h3>
    <a href="/reports">All Reports</a>
<!-- I dont think edit is really necessary, but im leaving the button here. surround foundReport.id in ejs tags-->
<!--    <a href="/reports/foundReport.id/edit">Edit Report</a>-->
    <!-- include footer partial -->
<%- include('../partials/foot')%>
