<div class="col">
    <div class="card">
        <% if(entry.photo[0]) { %>
            <img src='<%= entry.photo[0].url %>' alt="Photo" class="card-img-top">
        <% } else { %>
                <img src='https://res.cloudinary.com/the-land-between/image/upload/q_auto/v1624334081/BlueLakes/defaultFishPhoto.png' alt="Photo" class="card-img-top">
        <%  } %>
        <div class="card-body">
            <h4><%= entry.species %></h4>
            <h5>Weight <small class="text-muted"><%= currentUser.weightPref %></small></h5>
            <p><%= weightConversion(currentUser.weightPref, entry.weight)%></p>
            <h5>Length <small class="text-muted"><%= currentUser.distPref %></small></h5>
            <p><%= distConversion(currentUser.distPref, entry.length) %></p>
        </div>
    </div>
</div>
