<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container centerLogin d-flex justify-content-center">
    <div class="container bg-light main-bg d-flex flex-column align-items-center justify-content-center overflow-auto">
        <%- include('../partials/flash') %>
        <div class="row header d-flex flex-column">
            <h1 class="text-center display-4">Change Password</h1>
        </div>
        <div class="row d-flex flex-column">
            <form action="/changePassword" method="POST" class="needs-validation" name="changePassword" novalidate>
                <input class="form-control" value="<%=currentUser.username%>" type="hidden" id="username" name="username"> <!-- Hidden input containing the users username (email) -->
                <div class="mb-3">
                    <label class='form-label' for="password">Old Password: </label> <!-- User must enter their old password to verify the change -->
                    <input type="password"  id="password" placeholder="Old Password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="password_new">Password: </label> <!-- New password that the user wants.  On each key up the password strength meter is updated.  New password must be at least 8 characters in length -->
                    <input type="password" pattern=".{8,}" id="password_new" placeholder="New Password" name="password_new" class="form-control" onkeyup="return passwordChanged();" required>
                    <span id="strength">Type Password</span>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="password_new_verify">Re-Enter Password: </label> <!-- User re-types in their password so it makes sure they entered it correctly -->
                    <input type="password" pattern=".{8,}" id="password_new_verify" placeholder="Re-type New Password" name="password_new_verify" class="form-control" required>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">Change Password</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Client Side Form Validation -->
<script src="js/clientValidation.js"></script>
