<%- include('../partials/head')%>
<%- include('../partials/videoBG')%>
<div class="centerDiv d-flex align-items-center">
    <div class="container login-bg d-flex flex-column align-items-center justify-content-between bg-light">
        <div class="row header">
            <div class="col d-flex justify-content-center"><h1 class="display-2">Edit Profile</h1></div>
        </div>
        <div class="row">
            <form action="/updateProfile?_method=PUT" method="POST" class="needs-validation" name="submit" enctype="multipart/form-data" novalidate>
                <input class="form-control" value="<%=currentUser.username%>" type="hidden" id="currentUsername" name="currentUsername"> <!-- Hidden input field holding the users username -->
                <div class="mb-3 d-flex flex-column">
                    <label class="form-label" for="photo">Profile Picture: </label>
                    <input class="form-control-file" type="file" accept="image/*" id="photo" name="photo">
                </div>
                <div class="mb-3">
                    <!-- date input, sent under 'date' label-->
                    <label class='form-label' for="username">Email: </label> <!-- User enters a email, must be in email format -->
                    <input type="email" id="username" value="<%= currentUser.username %>" name="username" class="form-control" required>
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <!-- date input, sent under 'date' label-->
                    <label class='form-label' for="firstName">First Name: </label>
                    <input type="text" id="firstName" value="<%= currentUser.firstName %>" name="firstName" class="form-control" required>
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <!-- date input, sent under 'date' label-->
                    <label class='form-label' for="lastName">Last Name: </label>
                    <input type="text" id="lastName" value="<%= currentUser.lastName %>" name="lastName" class="form-control" required>
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <!-- date input, sent under 'date' label-->
                    <label class='form-label' for="organization">Organization: </label> <!-- User is not required to input an organization -->
                    <input type="text" id="organization" value="<%= currentUser.organization %>" name="organization" class="form-control" value="No Organization">
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="btn-group container-fluid" role="group">
                        <input class="btn-check" type="radio" name="weightPref" id="kg" value="kg" required
                            <%if(currentUser.weightPref === 'kg'){ %>
                                <%= "checked" %>
                            <% } %>
                        >
                        <label class="btn btn-primary" for="kg">Kilograms</label>
                        <input class="btn-check" type="radio" name="weightPref" id="lbs" value="lbs" required
                            <%if(currentUser.weightPref === 'lbs'){ %>
                                <%= "checked" %>
                            <% } %>
                        >
                        <label class="btn btn-primary" for="lbs">Pounds</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="btn-group container-fluid" role="group">
                        <input class="btn-check" type="radio" name="distPref" id="cm" value="cm" required
                        <%if(currentUser.distPref === 'cm'){ %>
                            <%= "checked" %>
                                <% } %>
                        >
                        <label class="btn btn-primary" for="cm">Centimeters</label>
                        <input class="btn-check" type="radio" name="distPref" id="inch" value="inch" required
                        <%if(currentUser.distPref === 'inch'){ %>
                            <%= "checked" %>
                                <% } %>
                        >
                        <label class="btn btn-primary" for="inch">Inches</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">Update Profile</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>
