<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container centerLogin d-flex justify-content-center">
    <div class="container bg-light login-bg d-flex flex-column align-items-center justify-content-center overflow-auto">
       <%- include('../partials/flash') %>
        <div class="row header d-flex flex-column">
            <h1 class="text-center display-4">Change Weight / Distance Preferences</h1>
        </div>
        <form action="/updatePreferences" method="POST" class="needs-validation" name="updatePreferences" novalidate>
            <input class="form-control" value="<%=currentUser.username%>" type="hidden" id="username" name="username"> <!-- Hidden input containing the users username (email) -->
            <div class="form-group">
                <div class="row d-flex justify-content-around">
                    <label class="radio-inline" for="distPref">
                        <input class="form-control" type="radio" id="cm" name="distPref" value="cm" required <% if (currentUser.distPref == "cm"){ %> checked <% }%>>Centimeters
                    </label>
                    <label class="radio-inline" for="distPref">
                        <input class="form-control" type="radio" id="inch" name="distPref" value="inch" required  <% if (currentUser.distPref == "inch"){ %> checked <% }%>>Inches
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="row d-flex justify-content-around">
                    <label class="radio-inline" for="weightPref">
                        <input class="form-control" type="radio" id="kg" name="weightPref" value="kg" required  <% if (currentUser.weightPref == "kg"){ %> checked <% }%>>Kilograms
                    </label>
                    <label class="radio-inline" for="weightPref">
                        <input class="form-control" type="radio" id="lbs" name="weightPref" value="lbs" required  <% if (currentUser.weightPref == "lbs"){ %> checked <% }%>>Pounds
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-3"></div>
                <div class="col-md-12 col-lg-6">
                    <button type="submit" class="btn btn-outline-primary btn-block">Update Preferences</button>
                </div>
                <div class="col-md-12 col-lg-3"></div>
            </div>
        </form>
    </div>
</div>

<!-- Client Side Form Validation -->
<script src="js/clientValidation.js"></script>
