<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container main-bg d-flex flex-column align-items-center">
    <div class="row homeHeader d-flex flex-column">
        <%- include('../partials/flash') %>
        <h1 class="text-center">Your Profile</h1>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <h6><b>Email</b>: <%=currentUser.username%></h6>
                <a href="/changePassword">Change Password</a>
                <h6><b>Name</b>: <%=currentUser.firstName + ' ' + currentUser.lastName%></h6>
                <a href="/updateName">Edit</a>
                <h6><b>Organization</b>: <%=currentUser.organization%></h6>
                <a href="/updateOrganization">Edit</a>
                <h6><b>Current Rank</b>: <%=currentUser.rank%></h6>
            </div>
            <div class="col-sm-12">
                <h4>Set User Rank</h4>
                <h6>Rank Options</h6>
                <ul>
                    <li>1 - Angler</li>
                    <li>2 - Researcher</li>
                    <li>3 - Administrator</li>
                </ul>
                <form action="/updateRank" method="post" class="text-center needs-validation" name="submitUpdateUser" novalidate>
                    <div class=" form-inline">
                        <label class='form-label' for="update_username">User Email: </label>
                        <input type="email" id="update_username" placeholder="user@host.com" name="update_username" class="form-control" required>
                    </div>
                    <div class="form-group form-inline">
                        <label class='form-label' for="update_rank">New Rank: </label>
                        <input type="number" min="1" max="3" id="update_rank" value="1" name="update_rank" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm">
                            <button type="submit" class="btn btn-sm btn-outline-primary btn-block">Update Rank</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </form>

            </div>
            <div class="row">
                <a class="btn btn-primary btn-md" role="button" aria-pressed="true" href="/anglerReports/">Your Angler Reports<span class="sr-only">(current)</span></a>
                <a class="btn btn-primary btn-md" role="button" aria-pressed="true" href="/lakeReports/">Your Lake Reports<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</div>

<script>
    (function() {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })();
</script>