<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="centerDiv d-flex align-items-center">
    <div class="container main-bg d-flex flex-column align-items-center justify-content-between bg-light">
       <%- include('../partials/flash') %>
        <div class="row header">
            <h1 class="display-2 text-center">Your Profile</h1>
        </div>
        <div class="row">
            <!-- Profile Photo -->
            <div class="col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
                <img src="<%= currentUser.profilePhoto %>" class="profilePhoto">
            </div>
            <!-- Account Details -->
            <div class="col-md-12 col-lg-6 stackedItems d-flex flex-column justify-content-center">
                <!-- Name -->
                <div class="row">
                    <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                        <i class="fa fa-tag fa-2x"></i>
                    </div>
                    <div class="col-md-10 d-flex flex-column">
                        <h3 class="marginStrip"><%=currentUser.firstName + ' ' + currentUser.lastName%></h3>
                        <h5 class="text-muted">Name</h5>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                        <i class="fa fa-envelope fa-2x"></i>
                    </div>
                    <div class="col-md-10 d-flex flex-column">
                        <h3 class="marginStrip"><%= currentUser.username %></h3>
                        <h5 class="text-muted">Email</h5>
                    </div>
                </div>
                <!-- Organization -->
                <div class="row">
                    <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                        <i class="fa fa-building fa-2x"></i>
                    </div>
                    <div class="col-md-10 d-flex flex-column">
                        <h3 class="marginStrip"><%=currentUser.organization %></h3>
                        <h5 class="text-muted">Organization</h5>
                    </div>
                </div>
                <!-- Weight/Dist Preferences -->
                <div class="row">
                    <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                    </div>
                    <div class="col-md-10 d-flex flex-column">
                        <h3 class="marginStrip"><%=currentUser.weightPref%> / <%= currentUser.distPref%></h3>
                        <h5 class="text-muted">Weight / Distance</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row stackedItems">
            <!-- Edit Account Button -->
            <div class="col-md-12 col-lg-8 p-0">
                <div class="d-grid gap-2">
                    <a href='/updateProfile' class="btn btn-outline-primary" role="button" aria-disabled="true">Edit Details</a> <!-- Button to view all angler reports -->
                </div>
            </div>
            <!--  Delete Account Button -->
            <div class="col-md-12 col-lg-4 p-0">
                <div class="d-grid gap-2">
                    <button type='button' class="btn btn-outline-danger" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button> <!-- Button to view all angler reports -->
                </div>
            </div>

            <!-- Modal to confirm account deletion, prevent people from accidentally clicking it -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Account Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently delete your account?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form action="/deleteAccount?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if(currentUser && currentUser.rank === 3) {%> <!-- User must be rank 3 (administrator) to assign another users rank -->
            <div class="row stackedItems">
                <h2 class="text-center">Set User Role</h2>
                <form action='/updateRank' method="post" class="updateRank row row-cols-lg-auto g-3 align-items-center justify-content-center needs-validation" name="submitUpdateUser">
                    <div class="col-12">
                        <label class="visually-hidden" for="update_username">Email</label>
                        <div class="input-group">
                            <div class="input-group-text">@</div>
                            <input type="email" class="form-control" id="update_username" placeholder="Email" name="update_username" required>
                        </div>
                    </div>

                    <div class="col-12">
                        <label class="visually-hidden" for="update_rank">Rank</label>
                        <select class="form-select" id="update_rank" name="update_rank" required>
                            <option value="" selected disabled hidden>Choose...</option>
                            <option value="1">Angler</option>
                            <option value="2">Researcher</option>
                            <option value="3">Administrator</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        <% } %>
        </div>
    </div>
</div>
<!-- Include proper closing tags -->
<%- include('../partials/foot')%>

<script>
    (function() {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })();
</script>
