<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/videoBG')%>

<div class="centerDiv d-flex align-items-center">
    <div class="container login-bg d-flex flex-column align-items-center justify-content-between bg-light">
        <%- include('../partials/flash') %>
        <div class="row backButton">
            <a href="/login">
                <i class="fa fa-arrow-left fa-2x backArrow text-muted"></i>
            </a>
        </div>
        <div class="row header d-flex flex-column">
            <h1 class="text-center display-2">Account Recovery</h1>
        </div>
        <div class="row d-flex flex-column">
            <form action="/recover" method="POST" class="needs-validation" name="login" novalidate>
                <!-- Recovery Code Entry -->
                <div class="mb-3">
                    <label class='form-label' for="recoveryToken">Recovery Code: </label> <!-- User enters the recovery code sent to their email -->
                    <input type="text" id="recoveryToken" placeholder="Email Code" name="recoveryToken" class="form-control" required>
                </div>
                <!-- Password Entry -->
                <div class="mb-3">
                    <label class='form-label' for="password">Password: </label> <!-- User enters and verifies their new password.  Must be 8 characters -->
                    <input type="password" pattern=".{8,}" id="password" placeholder="New Password" name="password" class="form-control" onkeyup="return passwordChanged();" required>
                    <!-- Option to have, can also give negative feedback to suggest formatting or smth -->
                    <span id="strength">Type Password</span>
                </div>
                <!-- Password Confirmation Entry -->
                <div class="mb-3">
                    <label class='form-label' for="password_verify">Re-Enter Password: </label>
                    <input type="password" id="password_verify" placeholder="Re-type New Password" name="password_verify" class="form-control" required>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col-md-12 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Include proper closing tags -->
<%- include('../partials/foot')%>

<!-- Client Side Form Validation -->
<script src="js/clientValidation.js"></script>
<script>
    let token = "<%= token %>"
    if (token) {
        document.getElementById('recoveryToken').value = token
    }
</script>
