<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container centerLogin d-flex justify-content-center">
    <div class="container bg-light login-bg d-flex flex-column align-items-center justify-content-center overflow-auto">
        <%- include('../partials/flash') %>
        <div class="row header d-flex flex-column">
            <h1 class="text-center display-4">Update Display Name</h1>
        </div>
        <div class="row d-flex flex-column">
            <form action="/updateName" method="POST" class="needs-validation" name="updateName" novalidate>
                <input class="form-control" value="<%=currentUser.username%>" type="hidden" id="username" name="username"> <!-- Hidden input field holding the users username -->
                <div class="mb-3">
                    <label class='form-label' for="firstName">First Name: </label> <!-- First and Last name filled in with current names.  User can change and submit to update -->
                    <input type="text" value="<%=currentUser.firstName%>" id="firstName" placeholder="First Name" name="firstName" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="lastName">First Name: </label>
                    <input type="text" value="<%=currentUser.lastName%>" id="lastName" placeholder="Last Name" name="lastName" class="form-control" required>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-3"></div>
                    <div class="col-md-12 col-lg-6">
                        <button type="submit" class="btn btn-outline-primary btn-block">Update Name</button>
                    </div>
                    <div class="col-md-12 col-lg-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Client Side Form Validation -->
<script src="js/clientValidation.js"></script>
