<%- include('partials/head')%>
<%- include('partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
<!--    TODO: This is for development only, shows trace of the error. Change to like gif or something fun for viewers -->
    <p><%= err.stack %></p>
</div>
<%- include('partials/foot')%>
