<%- include('partials/head')%>
<%- include('partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <% if (process.env.NODE_ENV !== 'production') { %>
        <p><%= err.stack %></p>
    <% } %>
</div>
<%- include('partials/foot')%>
