<!-- include the partial at the top of the file-->
<%- include('partials/head')%>
<%- include('partials/navbar')%>
<%- include('partials/videoBG')%>
        <div class="container main-bg d-flex flex-column justify-content-between align-items-center">
            <div class="row homeHeader d-flex flex-column">
                <%- include('partials/flash') %>
                <img src="https://res.cloudinary.com/jaredcloud/image/upload/v1617254133/banner_qj6yhr.png" class="img-fluid mx-auto d-block" alt="Responsive image">
                <h1 class="text-center">Welcome <%=currentUser.firstName + " " + currentUser.lastName%></h1>
            </div>
            <div class="row">
                <% if(currentUser.rank === 2) {%>
                    <h3>Your Lake Reports</h3>
                    <table class="table">
                        <tr>
                            <th>View Report</th>
                            <th>Date Recorded</th>
                            <th>Comments</th>
                        </tr>
                        <% for (let report of healthReports) {%>
                            <tr>
                                <td><a href="/lakeReports/<%= report.id%>">details</a></td>
                                <td><%= (report.date_generated.getUTCMonth() + 1) + '.' + report.date_generated.getUTCDate() + '.' + report.date_generated.getUTCFullYear() %></td>
                                <td><%= report.notes %></td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>

                <h3>Your Angler Reports</h3>
                <table class="table">
                    <tr>
                        <th>View Report</th>
                        <th>Date Recorded</th>
                        <th>Species</th>
                    </tr>
                    <% for (let report of anglerReports) {%>
                        <tr>
                            <td><a href="/anglerReports/<%= report.id%>">details</a></td>
                            <td><%= (report.date.getUTCMonth() + 1) + '.' + report.date.getUTCDate() + '.' + report.date.getUTCFullYear() %></td>
                            <td><%= report.species %></td>
                        </tr>
                    <% } %>
                </table>
        </div>
            <div class="row homeButtons d-flex flex-column">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <a href="/anglerReports/new" class="btn secondary-button-outline btn-block" role="button" aria-disabled="true">New Report</a>
                    </div>
                    <div class="col-md-3 col-sm-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a href="/anglerReports" class="btn main-button-outline btn-block" role="button" aria-disabled="true">View All Reports</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>