<!-- include the partial at the top of the file-->
<%- include('partials/head')%>
<%- include('partials/navbar')%>
<%- include('partials/videoBG')%>
        <div class="container main-bg d-flex flex-column justify-content-around align-items-center">
            <div class="row header d-flex flex-column">
                <%- include('partials/flash') %>
                <img src="https://res.cloudinary.com/jaredcloud/image/upload/v1617254133/banner_qj6yhr.png" class="img-fluid mx-auto d-block" alt="Blue Lakes Banner">
                <h1 class="text-center">Welcome <%=currentUser.firstName + " " + currentUser.lastName%></h1>
            </div>
            <div class="row homeButtons d-flex flex-column">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/anglerReports/new" class="btn btn-block secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h6>New Angler Report</h6></a>
                    </div>
                    <div class="col-sm-6">
                        <% if(currentUser && currentUser.rank >= 2) {%>
                            <a href="/lakeReports/new" class="btn secondary-button-outline btn-block homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h6>New Lake Health Report</h6></a>
                        <% } %>
                    </div>
                </div>
                <% if(currentUser && currentUser.rank === 3) {%>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="/anglerReports" class="btn secondary-button-outline btn-block homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h6>View All Angler Reports</h6></a>
                        </div>
                        <div class="col-sm-6">
                            <a href="/lakeReports" class="btn secondary-button-outline btn-block homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h6>View All Lake Health Reports</h6></a>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="row">
                <% if(currentUser && currentUser.rank >= 2) {%>
                    <h3>Your Lake Reports</h3>
                    <table class="table" id="lakeReportTable">
                        <tr>
                            <th>View Report</th>
                            <th>Date Recorded</th>
                            <th>Comments</th>
                        </tr>
                        <% for (let report of healthReports) {%>
                            <tr>
                                <td><a href="/lakeReports/<%= report.id%>">details</a></td>
                                <td><%= (report.date_generated.getUTCMonth() + 1) + '.' + report.date_generated.getUTCDate() + '.' + report.date_generated.getUTCFullYear() %></td>
                                <td><%= report.notes %></td>
                            </tr>
                        <% } %>
                    </table>
                <% } %>

                <h3>Your Angler Reports</h3>
                <table class="table" id="anglerReportTable">
                    <tr>
                        <th>View Report</th>
                        <th>Municipality</th>
                        <th>Lake</th>
                        <th>Date Recorded</th>
                    </tr>
                    <% for (let report of anglerReports) {%>
                        <tr>
                            <td><a href="/anglerReports/<%= report.id%>">details</a></td>
                            <td><%= report.municipality%></td>
                            <td><%= report.lake%></td>
                            <td><%= (report.date.getUTCMonth() + 1) + '.' + report.date.getUTCDate() + '.' + report.date.getUTCFullYear() %></td>
                        </tr>
                    <% } %>
                </table>
        </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $('#lakeReportTable').DataTable({
            "paging": false // false to disable pagination (or any other option)
        });
        $('.dataTables_length').addClass('bs-select');
        $('#anglerReportTable').DataTable({
            "paging": false // false to disable pagination (or any other option)
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>