<!-- include the partial at the top of the file-->
<%- include('partials/head')%>
<%- include('partials/navbar')%>
<%- include('partials/videoBG')%>
<div class="container main-bg d-flex flex-column justify-content-around align-items-center">
    <%- include('partials/flash') %>
    <div class="row header d-flex flex-column">
        <img src="https://res.cloudinary.com/the-land-between/image/upload/v1622661876/BlueLakes/banner_qj6yhr_glp2wv.png" class="img-fluid mx-auto d-block" alt="Blue Lakes Banner">
        <p class="display-2 text-center">Welcome <%=currentUser.firstName + " " + currentUser.lastName%></p>
    </div>
    <!-- Buttons showing both new reports + view all for administrators -->
    <% if(currentUser && currentUser.rank === 3) {%>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="d-grid gap-2">
                    <a href="/anglerReports/new" class="btn secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h5>New Angler Report</h5></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="d-grid gap-2">
                    <a href="/anglerReports" class="btn secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h5>View All Angler Reports</h5></a>
                </div>
            </div>
        </div>
        <div class="row stackedItems">
            <div class="col-md-12 col-lg-6">
                <div class="d-grid gap-2">
                    <a href="/lakeReports/new" class="btn secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h5>New Lake Health Report</h5></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="d-grid gap-2">
                    <a href="/lakeReports" class="btn secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h5>View All Lake Health Reports</h5></a>
                </div>
            </div>
        </div>
    <% } else { %>
    <!-- Buttons showing just new reports-->
        <div class="row">
            <div class="col-md-12 col-lg-3"></div>
            <div class="col-md-12 col-lg-6">
                <div class="d-grid gap-2">
                    <a href="/anglerReports/new" class="btn secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h5>New Angler Report</h5></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-3"></div>
        </div>
        <% if(currentUser && currentUser.rank >= 2) {%>
            <div class="row stackedItems">
                <div class="col-md-12 col-lg-3"></div>
                <div class="col-md-12 col-lg-6">
                    <div class="d-grid gap-2">
                        <a href="/lakeReports/new" class="btn secondary-button-outline homeButton d-flex flex-column justify-content-center" role="button" aria-disabled="true"><h5>New Lake Health Report</h5></a>
                    </div>
                </div>
                <div class="col-md-12 col-lg-3"></div>
            </div>
        <% } %>
    <% } %>
    <div class="row stackedItems">
        <h2 class="text-center">Your Angler Reports</h2>
        <table class="table table-hover" id="anglerReportTable"> <!-- Table containing all angler reports submitted by the user -->
            <thead>
                <tr class="table-info">
                    <th>Fish Caught</th>
                    <th>Time Spent</th>
                    <th>Lake</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% for (let report of anglerReports) {%>
                    <tr>
                        <td><a href="/anglerReports/<%= report.id%>" class="rowLink styledA"><%= report.fishCount %></a></td> <!-- Link to index a specific angler report for more details -->
                        <td><%= report.elapsedTime %></td>
                        <td><%= report.lake%></td>
                        <td><%= (report.date.getUTCMonth() + 1) + '.' + report.date.getUTCDate() + '.' + report.date.getUTCFullYear() %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- Users table of reports is only displayed if they are a researcher or greater -->
    <% if(currentUser && currentUser.rank >= 2) {%>
        <div class="row stackedItems">
            <h2 class="text-center">Your Lake Reports</h2> <!-- If a users account is downgraded, they will not be able to view their reports -->
            <table class="table table-hover" id="lakeReportTable"> <!-- Outputs a table with general information on all lake health reports submitted by the user -->
                <thead>
                    <tr class="table-info">
                        <th>View Report</th>
                        <th>Date Recorded</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let report of healthReports) {%>
                        <tr>
                            <td><a href="/lakeReports/<%= report.id%>" class="rowLink styledA">details</a></td> <!-- Link to index a specific lake health report for more details -->
                            <td><%= (report.date_generated.getUTCMonth() + 1) + '.' + report.date_generated.getUTCDate() + '.' + report.date_generated.getUTCFullYear() %></td>
                            <td><%= report.notes %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% } %>
</div>

<!-- Include proper closing tags -->
<%- include('partials/foot')%>

<script>
    $(document).ready(function() {
        $('#anglerReportTable').DataTable();
        $('#lakeReportTable').DataTable();
    })
</script>
