<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <%- include('../partials/flash')%>
        <h2>Date Generated: <%= foundReport.date_generated.getUTCDate() + '-' + (foundReport.date_generated.getUTCMonth() + 1) + '-' + foundReport.date_generated.getUTCFullYear() %></h2>
        <h2>Creator: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>

        <br>

        <h4>Level of Concern: <%= foundReport.level_of_concern %></h4>

        <br>

        <h4>Notes: <%= foundReport.notes%></h4>

        <h4>Perc_Shore_Devd: <%= foundReport.perc_shore_devd%></h4>
        <h4>Avg_Temp: <%= foundReport.avg_temp%></h4>
        <h4>Avg_Do_Conc: <%= foundReport.avg_do_conc%></h4>
        <h4>Avg_Secchi_Depth: <%= foundReport.avg_secchi_depth%></h4>
        <h4>Avg_Phosphorous: <%= foundReport.avg_phosph%></h4>
        <br>
        <% if(currentUser && foundReport.creator.equals(currentUser._id)) { %>
        <a href="/lakeReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Edit Report</a>
        <a href="#" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Delete Report</a>
        <% } %>
        <a href="/lakeReports" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">View All Reports</a>

        <!-- I dont think edit is really necessary, but im leaving the button here. surround foundReport.id in ejs tags-->
<!--    <a href="/lakeReports/foundReport.id/edit">Edit Report</a>-->
    <!-- include footer partial -->
<%- include('../partials/foot')%>
