<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container bg-light main-bg d-flex flex-column align-items-center overflow-aut justify-content-around">
    <%- include('../partials/flash')%>
    <div class="row header d-flex flex-column text-center">
        <h1 class="display-2">Lake Health Report</h1>
        <!--  Deleted user catch, can't display angler name if no creator linked -->
        <% if (!foundReport.creator) {%>
            <h2 class="text-muted"><strike>Deleted User</strike></h2>
        <% } else { %>
            <!-- Display creators First + Last name -->
            <h2>Creator: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>
        <% } %>
        <!-- Date of report formatted nicely YEAR-MO-DA -->
        <h3>Date Generated: <%= foundReport.date_generated.getUTCFullYear() + '-' + ('0' + (foundReport.date_generated.getUTCMonth()+1)).slice(-2) + '-' + ('0' + foundReport.date_generated.getUTCDate()).slice(-2) %></h3>
    </div>
    <!-- Output general lake report information -->
    <div class="row d-flex justify-content-around">
        <div class="col-md-12 col-lg-6 stackedItems">
            <!-- Notes at top of main page, with sticky note icon -->
            <div class="row d-flex align-items-center">
                <div class="col-md-2 d-flex flex-column text-end">
                    <i class="fa fa-sticky-note fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.notes %></h3>
                    <h5 class="text-muted">Notes</h5>
                </div>
            </div>
        </div>
        <!-- Perc_Shore_Devd at top of page -- why? -->
        <div class="col-md-12 col-lg-6 stackedItems">
            <div class="row d-flex align-items-center">
                <div class="col-md-2 d-flex flex-column text-end">
                    <i class="fa fa-sticky-note fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.perc_shore_devd %></h3>
                    <h5 class="text-muted">Perc Shore Devd</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Row of tables displaying all entries submitted with this report -->
    <div class="row">
        <div class="col-12">
            <% if (foundDoTemp.length) { %> <!-- Displays a table of DoTemp readings if there are any associated with the report -->
            <h2> Dissolved Oxygen </h2>
            <table class="table table-borderless">
                <tr class="table-info">
                    <th>Temperature <small class="text-muted">°C</small></th>
                    <th>Dissolved Oxygen <small class="text-muted">ppm</small></th>
                    <th>Depth <small class="text-muted">m</small></th>
                    <th>Coordinates</th>
                </tr>

                <% foundDoTemp.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.temperature%></td>
                        <td><%= entry.dissolvedOxygen%></td>
                        <td><%= entry.depth%></td>
                        <td><b>X: </b><%= entry.location.coordinates[0]%> <b>Y: </b><%= entry.location.coordinates[1]%></td>
                    </tr>
                <%})%>
            </table>
            <%}%>
        </div>
        <div class="col-12">
            <% if (foundSecchi.length) { %> <!-- Displays a table of secchi readings if there are any associated with the report -->
            <h2> Secchi </h2>
            <table class="table table-borderless">
                <tr class="table-info">
                    <th>Secchi</th>
                    <th>Depth <small class="text-muted">m</small></th>
                    <th>Coordinates</th>
                </tr>

                <% foundSecchi.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.secchi%></td>
                        <td><%= entry.depth%></td>
                        <td><b>X: </b><%= entry.location.coordinates[0]%> <b>Y: </b><%= entry.location.coordinates[1]%></td>
                    </tr>
                <%})%>
            </table>
            <%}%>
        </div>
        <div class="col-12">
            <% if (foundPhosphorus.length) { %> <!-- Displays a table of Phosphorus readings if there are any associated with the report -->
            <h2> Phosphorus </h2>
            <table class="table table-borderless">
                <tr class="table-info">
                    <th>Phosphorus <small class="text-muted">ppm</small></th>
                    <th>Coordinates</th>
                </tr>

                <% foundPhosphorus.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.phosphorus%></td>
                        <td><b>X: </b><%= entry.location.coordinates[0]%> <b>Y: </b><%= entry.location.coordinates[1]%></td>
                    </tr>
                <%})%>
            </table>
            <%}%>
        </div>
        <div class="col-12">
            <% if (foundCalcium.length) { %> <!-- Displays a table of calcium readings if there are any associated with the report -->
            <h2> Calcium </h2>
            <table class="table table-borderless">
                <tr class="table-info">
                    <th>Calcium <small class="text-muted">mg/L</small></th>
                    <th>Coordinates</th>
                </tr>
                <% foundCalcium.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.calcium%></td>
                        <td><b>X: </b><%= entry.location.coordinates[0]%> <b>Y: </b><%= entry.location.coordinates[1]%></td>
                    </tr>
                <%})%>
            </table>
            <%}%>
        </div>
    </div>
    <div class="row header">
        <% if(currentUser && foundReport.creator && foundReport.creator.equals(currentUser._id)) { %> <!-- If the current user is the creator of the report, they are given the option to edit or delete the report -->
        <div class="col-1"></div>
        <div class="col-5 p-0">
            <div class="d-grid gap-2">
                <a href="/lakeReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary" role="button" aria-disabled="true">Edit Report</a>
            </div>
        </div>
        <div class="col-5 p-0">
            <div class="d-grid gap-2">
                <button type='button' class="btn btn-outline-danger" role="button" aria-disabled="true" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button> <!-- Button to view all angler reports -->
            </div>
        </div>
        <!-- Modal to confirm lake report deletion, prevent people from accidentally clicking it -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lake Report Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to permanently delete this lake health report?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action='/lakeReports/<%= foundReport._id %>?_method=DELETE' method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <% } %>

        <div class="col-12 header ps-0 pe-0">
            <% if(currentUser.rank === 3) { %>
                <div class="d-grid gap-2">
                    <a href="/lakeReports" class="btn btn-outline-primary" role="button" aria-disabled="true">View All Reports</a> <!-- Button to view all reports -->
                </div>
            <% } else { %>
                <div class="d-grid gap-2">
                    <a href="/" class="btn btn-outline-primary" role="button" aria-disabled="true">View Your Reports</a>
                </div>
            <% } %>
        </div>
    </div>
</div>

<!-- Include proper closing tags -->
<%- include('../partials/foot')%>
