<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
    <h1>Report ID: <%= foundReport.id_pk %></h1>
    <h2>Date Generated: <%= foundReport.date_generated %></h2>
    <br>
    <h1>Report Status: <%= foundReport.status%></h1>
    <h1>Report Summary: <%= foundReport.summary %></h1>
    <h1>Level of Concern: <%= foundReport.level_of_concern %></h1>
    <h1>Perc_Shore_Devd: <%= foundReport.perc_shore_devd%></h1>
    <h2>Avg_Temp: <%= foundReport.avg_temp%></h2>
    <h3>Avg_Do_Conc: <%= foundReport.avg_do_conc%></h3>
    <h3>Avg_Secchi_Depth: <%= foundReport.avg_secchi_depth%></h3>
    <h3>Avg_Phosphorous: <%= foundReport.avg_phosph%></h3>
    <br>
    <a href="/lakeReports" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">View All Reports</a>

<!-- I dont think edit is really necessary, but im leaving the button here. surround foundReport.id in ejs tags-->
<!--    <a href="/lakeReports/foundReport.id/edit">Edit Report</a>-->
    <!-- include footer partial -->
<%- include('../partials/foot')%>
