<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <%- include('../partials/flash')%> <!-- Displays all information with the associated report -->
        <h2>Date Generated: <%= foundReport.date_generated.getUTCFullYear() + '-' + ('0' + (foundReport.date_generated.getUTCMonth()+1)).slice(-2) + '-' + ('0' + foundReport.date_generated.getUTCDate()).slice(-2) %></h2>
        <h2>Creator: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>

        <br>

        <h4>Level of Concern: <%= foundReport.level_of_concern %></h4> <!-- Not currently implemented, need functions to determine level of concern based on given values -->

        <br>

        <h4>Notes: <%= foundReport.notes%></h4>
        <h4>Perc Shore Devd: <%= foundReport.perc_shore_devd%></h4>

        <% if (foundDoTemp.length) { %> <!-- Displays a table of DoTemp readings if there are any associated with the report -->
            <table class="table">
                <tr>
                    <th>Temperature</th>
                    <th>Dissolved Oxygen</th>
                    <th>Depth</th>
                    <th>Coordinates</th>
                </tr>

                <% foundDoTemp.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.temperature%></td>
                        <td><%= entry.dissolvedOxygen%></td>
                        <td><%= entry.depth%></td>
                        <td><%= entry.location.coordinates%></td>
                    </tr>
                <%})%>
            </table>
        <%}%>

        <% if (foundSecchi.length) { %> <!-- Displays a table of secchi readings if there are any associated with the report -->
            <table class="table">
                <tr>
                    <th>Secchi</th>
                    <th>Depth</th>
                    <th>Coordinates</th>
                </tr>

                <% foundSecchi.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.secchi%></td>
                        <td><%= entry.depth%></td>
                        <td><%= entry.location.coordinates%></td>
                    </tr>
                <%})%>
            </table>
        <%}%>

        <% if (foundPhosphorus.length) { %> <!-- Displays a table of Phosphorus readings if there are any associated with the report -->
            <table class="table">
                <tr>
                    <th>Phosphorus</th>
                    <th>Coordinates</th>
                </tr>

                <% foundPhosphorus.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.phosphorus%></td>
                        <td><%= entry.location.coordinates%></td>
                    </tr>
                <%})%>
            </table>
        <%}%>

        <% if (foundCalcium.length) { %> <!-- Displays a table of calcium readings if there are any associated with the report -->
            <table class="table">
                <tr>
                    <th>Calcium</th>
                    <th>Coordinates</th>
                </tr>
                <% foundCalcium.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.calcium%></td>
                        <td><%= entry.location.coordinates%></td>
                    </tr>
                <%})%>
            </table>
        <%}%>

        <br>
        <% if(currentUser && foundReport.creator.equals(currentUser._id)) { %> <!-- If the current user is the creator of the report, they are given the option to edit or delete the report -->
        <a href="/lakeReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Edit Report</a>
        <form action='/anglerReports/<%= foundReport._id %>?_method=DELETE' method="POST">
            <button class="btn btn-block btn-outline-danger"> Delete </button>
        </form>
        <% } %>

        <a href="/lakeReports" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">View All Reports</a> <!-- Button to view all reports -->
</div>
