<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container main-bg bg-light centerLogin d-flex flex-column align-items-center justify-content-center">
    <%- include('../partials/flash') %>
    <div class="row header d-flex flex-column">
        <h1 class="text-center display-2">All Health Reports</h1>
    </div>
    <div class="row">
        <table class="table table-hover" id="viewLakeReportTable"> <!-- Table containing a general overview of all lake health reports created -->
            <thead>
                <tr class="table-info">
                    <th>View Report</th>
                    <th>Creator</th>
                    <th>Date Recorded</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <% for (let report of healthReports) {%> <!-- Iterates over each report and displays some general contents -->
                <tr>
                    <td><a href="/lakeReports/<%= report.id%>" class="rowLink styledA">details</a></td>
                    <!--  Deleted user catch, can't display angler name if no creator linked -->
                    <% if (!report.creator) {%>
                        <td class="text-muted"><strike>Deleted User</strike></td>
                    <% } else { %>
                        <td><%= report.creator.firstName + ' ' + report.creator.lastName %></td>
                    <% } %>
                    <td><%= (report.date_generated.getUTCMonth() + 1) + '.' + report.date_generated.getUTCDate() + '.' + report.date_generated.getUTCFullYear() %></td>
                    <td><%= report.notes %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-2"></div>
        <div class="col-md-12 col-lg-8">
            <!-- Link to submit new report-->
            <div class="d-grid gap-2">
                <a href="/lakeReports/new" class="btn btn-outline-primary" role="button" aria-disabled="true">New Report</a> <!-- Button to create a new lake health report -->
            </div>
        </div>
        <div class="col-md-12 col-lg-2"></div>
    </div>
</div>


<!-- Include proper closing tags -->
<%- include('../partials/foot')%>

<script>
    $(document).ready(function() {
        $('#viewLakeReportTable').DataTable();
    })
</script>
