<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container bg-light main-bg d-flex flex-column align-items-center overflow-aut justify-content-around">
    <%- include('../partials/flash')%>
    <div class="row header d-flex flex-column text-center">
        <h1 class="display-2">Angler Report</h1>
        <h2>Angler: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>
        <h3>Date Generated: <%= foundReport.date.getUTCFullYear() + '-' + ('0' + (foundReport.date.getUTCMonth()+1)).slice(-2) + '-' + ('0' + foundReport.date.getUTCDate()).slice(-2) %></h3>
    </div>
    <div class="row"> <!-- Output general lake report information -->
        <div class="col-md-12 col-lg-6 d-flex flex-column">
            <div class="row">
                <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                    <i class="fa fa-home fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.lake.trim().replace(/^\w/, (c) => c.toUpperCase())%></h3>
                    <h5 class="text-muted">Town</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                    <i class="fa fa-building fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.municipality.trim().replace(/^\w/, (c) => c.toUpperCase())%></h3>
                    <h5 class="text-muted">Municipality</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                    <i class="fa fa-home fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.angler_name %></h3>
                    <h5 class="text-muted">Angler</h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                    <i class="fa fa-clock-o fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.t_start %></h3>
                    <h5 class="text-muted">Time In</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex flex-column justify-content-center text-end">
                    <i class="fa fa-clock-o fa-2x"></i>
                </div>
                <div class="col-md-10 d-flex flex-column">
                    <h3 class="marginStrip"><%= foundReport.t_end %></h3>
                    <h5 class="text-muted">Time Out</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Fish</h2>
        </div>
        <div class="col-12">
            <table class="table"> <!-- Table to display all fish contained within the report -->
                <tr> <!-- Header row -->
                    <th>Photo</th>
                    <th>Species</th>
                    <th>Weight (<%= currentUser.weightPref %>)</th>
                    <th>Length (<%= currentUser.distPref %>)</th>
                </tr>

                <% foundFish.forEach(function (entry) { %> <!-- Iterate over each fish, create a row for each containing its information -->
                <tr>
                    <td class="fishImage"> <!-- Displays image of the fish -->
                        <% if(entry.photo[0]) {%>
                            <img src='<%= entry.photo[0].url %>' alt="Photo" class="img-fluid">
                        <% } %>
                    </td>
                    <td><%= entry.species%></td> <!-- Outputs all other information associated with the fish -->
                    <td><%= entry.weight%></td>
                    <td><%= entry.length%></td>
                </tr>
                <%})%>
            </table>
        </div>

    </div>
    <!-- Bottom Buttons -->
    <div class="row">
        <% if(currentUser && foundReport.creator.equals(currentUser._id)) { %> <!-- If the current user is the creator of the report, they are given the option to edit or delete the report -->
        <div class="col-1"></div>
        <div class="col-5 p-0">
            <div class="d-grid gap-2">
                <a href="/anglerReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary" role="button" aria-disabled="true">Edit Report</a>
            </div>
        </div>
        <div class="col-5 p-0">
            <form action='/anglerReports/<%= foundReport._id %>?_method=DELETE' method="POST">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-danger"> Delete </button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
        <% } %>
        <div class="col-12 header ps-0 pe-0">
            <div class="d-grid gap-2">
                <a href="/anglerReports" class="btn btn-outline-primary" role="button" aria-disabled="true">View All Reports</a> <!-- Button to view all angler reports -->
            </div>
        </div>
    </div>
</div>

<!-- Include proper closing tags -->
<%- include('../partials/foot')%>
