<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
    <%- include('../partials/flash')%>

        <h2>Date Generated: <%= foundReport.date.getUTCDate() + '-' + (foundReport.date.getUTCMonth() + 1) + '-' + foundReport.date.getUTCFullYear() %></h2>
        <h2>Angler: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>

        <br>
        <h4>Lake Town: <%= foundReport.lake %></h4>
        <h4>Lake Town: <%= foundReport.municipality %></h4>
        <br>
        <h4>Angler Name: <%= foundReport.angler_name%></h4>
        <h4>Start Time: <%= foundReport.t_start%></h4>
        <h4>End Time: <%= foundReport.t_end%></h4>
        <br>
        <div>
            <h4>Species: <%= foundReport.species%></h4>
            <h4>Length (cm): <%= foundReport.length%></h4>
            <h4>Weight (lbs): <%= foundReport.weight%></h4>
        </div>
        <br>
            <% if(currentUser && foundReport.creator.equals(currentUser._id)) { %>
    <!--            <a href="/lakeReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Edit Report</a>-->
    <!--            <a href="#" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Delete Report</a>-->
            <% } %>
        <a href="/anglerReports" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">View All Reports</a>

<!-- I dont think edit is really necessary, but im leaving the button here. surround foundReport.id in ejs tags-->
<!--    <a href="/lakeReports/foundReport.id/edit">Edit Report</a>-->
    <!-- include footer partial -->
<%- include('../partials/foot')%>
