<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
    <%- include('../partials/flash')%>

        <h2>Date Generated: <%= foundReport.date.getUTCDate() + '-' + (foundReport.date.getUTCMonth() + 1) + '-' + foundReport.date.getUTCFullYear() %></h2>
        <h2>Angler: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>

        <br>

        <h4>Lake Town: <%= foundReport.lake %></h4>
        <h4>Lake Town: <%= foundReport.municipality %></h4>
        <br>
        <h4>Angler Name: <%= foundReport.angler_name%></h4>
        <h4>Start Time: <%= foundReport.t_start%></h4>
        <h4>End Time: <%= foundReport.t_end%></h4>

        <br>

        <h2>Fish</h2>
        <table class="table">
            <tr>
                <th>Species</th>
                <th>Weight (Pounds)</th>
                <th>Length (Centimeters)</th>
                <th>View Fish</th>
            </tr>

            <% foundFish.forEach(function (entry) { %>
                <tr>
                    <td><%= entry.species%></td>
                    <td><%= entry.length%></td>
                    <td><%= entry.weight%></td>
                    <td><a>View Fish</a></td>
                </tr>
            <%})%>
        </table>

        <br>
        <br>
            <% if(currentUser && foundReport.creator.equals(currentUser._id)) { %>
                <a href="/anglerReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Edit Report</a>
                <form action='/anglerReports/<%= foundReport._id %>?_method=DELETE' method="POST">
                    <button class="btn btn-block btn-outline-danger"> Delete </button>
                </form>
            <% } %>

        <a href="/anglerReports" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">View All Reports</a>
</div>
