<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>
<div class="container bg-light main-bg d-flex flex-column align-items-center overflow-aut justify-content-around">
    <div class="row header d-flex flex-column justify-content-center">
        <%- include('../partials/flash')%>
        <h1 class="display-4">Angler Report</h1>
        <h3>Date Generated: <%= foundReport.date.getUTCDate() + '-' + (foundReport.date.getUTCMonth() + 1) + '-' + foundReport.date.getUTCFullYear() %></h3>
        <h2>Angler: <%= foundReport.creator.firstName + ' ' + foundReport.creator.lastName %></h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <h4 class="text-center">Lake Town: <%= foundReport.lake %></h4>
            <h4 class="text-center">Lake Town: <%= foundReport.municipality %></h4>
        </div>
        <div class="col-md-6 col-sm-12">
            <h4 class="text-center">Start Time: <%= foundReport.t_start%></h4>
            <h4 class="text-center">End Time: <%= foundReport.t_end%></h4>
        </div>

    </div>
    <div class="row">
        <h2>Fish</h2>
        <table class="table">
            <tr>
                <th>Photo</th>
                <th>Species</th>
                <th>Weight (lbs)</th>
                <th>Length (cm)</th>
            </tr>

            <% foundFish.forEach(function (entry) { %>
                <tr>
                    <td class="fishImage">
                        <% if(entry.photo[0]) {%>
                            <img src='<%= entry.photo[0].url %>' alt="Photo" class="img-fluid">
                        <% } %>
                    </td>
                    <td><%= entry.species%></td>
                    <td><%= entry.weight%></td>
                    <td><%= entry.length%></td>
                </tr>
            <%})%>
        </table>
    </div>

    <div class="row">
        <% if(currentUser && foundReport.creator.equals(currentUser._id)) { %>
            <a href="/anglerReports/<%= foundReport._id%>/edit" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">Edit Report</a>
            <form action='/anglerReports/<%= foundReport._id %>?_method=DELETE' method="POST" class="btn-block">
                <button class="btn btn-block btn-outline-danger"> Delete </button>
            </form>
        <% } %>

        <a href="/anglerReports" class="btn btn-outline-secondary btn-block" role="button" aria-disabled="true">View All Reports</a>
    </div>
</div>
