
<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<div class="container bg-light main-bg d-flex align-items-center overflow-auto">
    <div class="container">
        <h1 class="text-center">All Recent Angler Reports</h1>
            <div class="row" style="height: 20vh;">
                <div class="col-sm-1"></div>
                <div class="col-sm bg-white border border-primary">Angler Statistics and Graphs</div>
                <div class="col-sm-1"></div>
            </div>

        <table class="table">
            <tr>
                <th>View Report</th>
                <th>Creator</th>
                <th>Date Recorded</th>
            </tr>
            <% for (let report of anglerReports) {%>
                <tr>
                    <td><a href="/anglerReports/<%= report.id%>">details</a></td>
                    <td><%= report.creator.firstName + ' ' + report.creator.lastName %></td>
                    <td><%= (report.date.getUTCMonth() + 1) + '.' + report.date.getUTCDate() + '.' + report.date.getUTCFullYear() %></td>
                </tr>
            <% } %>
        </table>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <!-- Link to submit new report-->
                <a href="/anglerReports/new" class="btn btn-outline-primary btn-block" role="button" aria-disabled="true">New Report</a>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
<!-- include footer partial -->
<%- include('../partials/foot')%>

