<!-- include the partial at the top of the file-->
<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/videoBG')%>

<div class="container main-bg bg-light centerLogin d-flex flex-column align-items-center justify-content-center">
    <%- include('../partials/flash') %>
    <div class="row header d-flex flex-column">
        <h1 class="text-center display-2">All Angler Reports</h1>
    </div>
    <div class="row d-flex flex-column">
        <div class="col-12 bg-white border border-primary">
            <table class="table table-sm"> <!-- Table of all species caught, and their counts in the database -->
                <thead>
                    <tr class="">
                        <th>Species of Fish</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let fish in fishCounts) {%> <!-- fishCounts is passed in through the controller -->
                    <tr>
                        <td><%= fish %></td> <!-- Implemented as a dictionary -->
                        <td><%= fishCounts[fish] %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-12 stackedItems">
            <table class="table table-hover" id="viewAnglerReportTable"> <!-- Table of all angler reports -->
                <thead>
                    <tr class="table-info">
                        <th>Fish Caught</th>
                        <th>Angler</th>
                        <th>Date Recorded</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let report of anglerReports) {%> <!-- Iterates over each angler report in anglerReports (passed in through the controller) -->
                    <tr>
                        <td><a href="/anglerReports/<%= report.id%>" class="styledA rowLink"><%= report.fishCount %></a></td>
                        <td><%= report.creator.firstName + ' ' + report.creator.lastName %></td>
                        <td><%= (report.date.getUTCMonth() + 1) + '.' + report.date.getUTCDate() + '.' + report.date.getUTCFullYear() %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-3"></div>
        <div class="col-md-12 col-lg-6">
            <!-- Link to submit new report-->
            <div class="d-grid gap-2">
                <a href="/anglerReports/new" class="btn btn-outline-primary" role="button" aria-disabled="true">New Report</a> <!-- Button to create new angler report -->
            </div>
        </div>
        <div class="col-md-12 col-lg-3"></div>
    </div>
</div>

<!-- Include proper closing tags -->
<%- include('../partials/foot')%>

<script>
    $(document).ready(function() {
        $('#viewAnglerReportTable').DataTable();
    })
</script>
